# Application

APP_NAME=Jokenpoke Game API
APP_ENV=development
APP_DEBUG=true

# API

API_HOST=0.0.0.0
API_PORT=8000

# Database

DATABASE_URL=postgresql+psycopg2://postgres.[SEU_ID_DO_PROJETO]:[SUA_SENHA_AQUI]@[SEU_HOST_POOLER_SUPABASE]:5432/postgres

# Authentication (JWT)

JWT_SECRET_KEY=change-this-secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

# Ngrok configuration
NGROK_AUTHTOKEN=nrgok_authtoken
NGROK_DOMAIN=domain.ngrok-free.app

# Game Configuration

INITIAL_CARDS_PER_USER=6
DECK_SIZE=3
BATTLE_ROUNDS=3

# Ranking

RANKING_WIN_POINTS=30
RANKING_LOSS_POINTS=-10
RANKING_DRAW_POINTS=0